<div class="movie-card-container">
  <div class="img-container">
    <img
      src="https://upload.wikimedia.org/wikipedia/ru/thumb/b/b6/X_%28film%2C_2022%29.jpg/640px-X_%28film%2C_2022%29.jpg"
      alt="film"
    />
  </div>
  <div class="about-container">
    <div class="type">movie</div>
    <div class="name">Hello, my name is Doris</div>
    <div class="year">2015</div>
    <div class="button-container">
      <button mat-raised-button color="primary">Details</button>
    </div>
  </div>
</div>
