<div class="movie-card-container">
  <div class="img-container">
    <img src="{{ getPoster() }} " alt="{{ movie.Title }}" />
  </div>
  <div class="about-container">
    <div class="type">{{ movie.Type }}</div>
    <div class="name">{{ movie.Title }}</div>
    <div class="year">{{ movie.Year }}</div>
    <div class="button-container">
      <button
        mat-raised-button
        color="warn"
        (click)="getMovieById()"
        [disabled]="isShowDetails"
      >
        Details
      </button>
    </div>
  </div>
</div>
