<!-- <app-components></app-components> -->
<!-- 6230c842 -->
<!-- http://www.omdbapi.com/?i=tt3896198&apikey=6230c842 -->

<div class="main-container">
  <div class="search-wrapper">
    <h3>Search:</h3>
    <div class="search-container">
      <div class="input-container">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Ex. Pizza" value="hello" />
        </mat-form-field>
      </div>

      <div class="select-container">
        <mat-form-field appearance="fill">
          <mat-label>Type</mat-label>
          <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{ food.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="button-container">
        <button mat-raised-button color="primary">Search</button>
      </div>
    </div>
  </div>
  <div class="movie-container">
    <app-movie-card></app-movie-card>
    <app-movie-card></app-movie-card>
    <app-movie-card></app-movie-card>
    <app-movie-card></app-movie-card>
  </div>
</div>
