.main-container {
  padding: 10px;
  padding-bottom: 40px;
  text-align: center;
  h1 {
    font-family: "Fredoka One", cursive;
    display: inline-block;
    line-height: 1;
    font-size: 7vw;
    font-weight: 900;
    // background: url(../assets/img/red-white.jpg) no-repeat top/cover;
    // background-clip: text;
    // color: transparent;
    color: #f44336;
    text-transform: uppercase;
  }
  .search {
    font-size: 30px;
  }
  .search-wrapper {
    width: 50vw;
    min-width: 350px;
    max-width: 450px;
    height: 20vw;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 2vw auto 0;
    @media (max-width: 850px) {
      margin: 2vw auto 0;
    }
    h3 {
      text-align: center;
      font-weight: 700;
      font-size: 20px;
      color: #fff;
    }
    .search-container {
      background-color: rgb(252, 252, 252);
      border-radius: 5px;
      box-shadow: 0 0 5px 1px rgb(84, 77, 77);
      padding: 10px;
      .example-full-width {
        width: 100%;
      }
      .select-container {
        width: 100%;
        mat-form-field {
          width: 100%;
        }
      }
      mat-select {
        width: 100%;
      }
      button {
        width: 100%;
      }
    }
  }
  .not-found {
    margin-top: 100px;
    color: #fff;
    font-weight: 500;
    font-size: 70px;
    text-shadow: rgb(206, 1, 1) 1px 0 10px;
    @media (max-width: 850px) {
      margin-top: 200px;
      font-size: 50px;
    }
    @media (max-width: 600px) {
      margin-top: 200px;
      font-size: 36px;
    }
  }
  .movie-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vw;
    @media (max-width: 960px) {
      margin-top: 15vw;
    }
    @media (max-width: 640px) {
      margin-top: 25vw;
    }
    app-movie-card {
      width: 29%;
      margin: 2%;
      @media (max-width: 800px) {
        width: 46%;
      }
      @media (max-width: 540px) {
        width: 96%;
      }
    }
  }
  .mat-paginator {
    margin: 0 auto;
    margin-top: 20px;
    width: 360px;
    background-color: rgba(255, 255, 255, 0.782);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    color: #f44336;
    font-weight: 700;
  }
}
