// .movie-details-container {
//   position: absolute;
//   text-align: center;
//   background-color: rgba(90, 84, 84, 0.404);
//   width: 100vw;
//   height: 100vw;
//   top: 0;
//   left: 0;
//   z-index: 10;
//   padding-top: 50px;
//   .details {
//     width: 500px;
//     background-color: rgb(253, 249, 249);
//     margin: auto;
//   }
//   &.hide {
//     display: none;
//   }
// }

.movie-details-container {
  width: 900px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  img {
    width: 40%;
    margin-right: 2%;
  }
  .mat-dialog-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    h1 {
      text-align: center;
      font-weight: 700;
    }
    overflow: visible;
    margin-bottom: 20px;
    div {
      font-weight: 500;
      font-size: 16px;
      span {
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
  .mat-dialog-actions {
    justify-content: flex-end;
  }
}
