<div class="movie-details-container">
  <div class="details">
    <img src="{{ details.Poster }}" alt="{{ details.Title }}" />
    <h3>{{ details.Title }}</h3>
    <div>Actors: {{ details.Actors }}</div>
    <div>Country: {{ details.Country }}</div>
    <div>Director: {{ details.Director }}</div>
    <div>Genre: {{ details.Genre }}</div>
    <div>Type: {{ details.Type }}</div>
    <div>Website: {{ details.Website }}</div>
    <div>Writer: {{ details.Writer }}</div>
    <div>imdbRating: {{ details.imdbRating }}</div>
    <div>Year: {{ details.Year }}</div>
    <div>Ratings: {{ details.Ratings }}</div>
  </div>
</div>

<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">
  <img src="{{ details.Poster }}" alt="{{ details.Title }}" />
  <h3>{{ details.Title }}</h3>
  <div>Actors: {{ details.Actors }}</div>
  <div>Country: {{ details.Country }}</div>
  <div>Director: {{ details.Director }}</div>
  <div>Genre: {{ details.Genre }}</div>
  <div>Type: {{ details.Type }}</div>
  <div>Website: {{ details.Website }}</div>
  <div>Writer: {{ details.Writer }}</div>
  <div>imdbRating: {{ details.imdbRating }}</div>
  <div>Year: {{ details.Year }}</div>
  <div>Ratings: {{ details.Ratings }}</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
